openapi: '3.0.2'
info:
  title: JoJoGAN Ainize API Swagger
  description: JoJoGAN Ainize API Documentation
  version: '1.0'
  license:
    name: MIT License
    url: https://github.com/dev2l0per/JoJoGAN/blob/main/LICENSE
  contact:
    name: Ainizer - JungHyo Yang
    email: z-_-z1-@naver.com

servers:
  - url: https://main-animegan2-pytorch-dev2l0per.endpoint.ainize.ai

paths:
  /animeganv2:
    post:
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                pretrained:
                  type: string
                  enum: [arcane_caitlyn, arcane_caitlyn_preserve_color, arcane_jinx, arcane_jinx_preserve_color, arcane_multi, arcane_multi_preserve_color, disney, disney_preserve_color, jojo, jojo_preserve_color, jojo_yasuho, jojo_yasuho_preserve_color, supergirl, supergirl_preserve_color, art]
                file:
                  type: string
                  format: binary
            encoding:
              file:
                contentType: image/png, image/jpg, image/jpeg
      responses:
        '200':
          description: success
          content:
            image/*:
              schema:
                type: string
                format: binary
        '400':
          description: Empty Field
        '404':
          description: Model Not Found
        '500':
          description: Server Error
  /health:
    get:
      responses:
        '200':
          description: ok